## API KEY MISTRAL
MISTRAL_API_KEY=

## URL & KEY SUPABASE 
SUPABASE_URL = 

SUPABASE_SERVICE_KEY = 

## tables supabase et query query pour récuperer les données
SUPABASE_TABLE_NAME = 
SUPABASE_QUERY_NAME = 

## PORT FASTAPI
PORT = 